## 9/27 Thu
-------

In [1]:
for i in range(2, 17):
    print(i, " table")
    for j in range(1, 10):
        print(" ", i, " * ", j, " = ", i*j)

2  table
  2  *  1  =  2
  2  *  2  =  4
  2  *  3  =  6
  2  *  4  =  8
  2  *  5  =  10
  2  *  6  =  12
  2  *  7  =  14
  2  *  8  =  16
  2  *  9  =  18
3  table
  3  *  1  =  3
  3  *  2  =  6
  3  *  3  =  9
  3  *  4  =  12
  3  *  5  =  15
  3  *  6  =  18
  3  *  7  =  21
  3  *  8  =  24
  3  *  9  =  27
4  table
  4  *  1  =  4
  4  *  2  =  8
  4  *  3  =  12
  4  *  4  =  16
  4  *  5  =  20
  4  *  6  =  24
  4  *  7  =  28
  4  *  8  =  32
  4  *  9  =  36
5  table
  5  *  1  =  5
  5  *  2  =  10
  5  *  3  =  15
  5  *  4  =  20
  5  *  5  =  25
  5  *  6  =  30
  5  *  7  =  35
  5  *  8  =  40
  5  *  9  =  45
6  table
  6  *  1  =  6
  6  *  2  =  12
  6  *  3  =  18
  6  *  4  =  24
  6  *  5  =  30
  6  *  6  =  36
  6  *  7  =  42
  6  *  8  =  48
  6  *  9  =  54
7  table
  7  *  1  =  7
  7  *  2  =  14
  7  *  3  =  21
  7  *  4  =  28
  7  *  5  =  35
  7  *  6  =  42
  7  *  7  =  49
  7  *  8  =  56
  7  *  9  =  63
8  table
  8  *  1  =  8
  8  *  2  =  16
  8  *  3  =  24
  8  *  4  =  32
  8  *  5  =  40
  8  *  6  =  48
  8  *  7  =  56
  8  *  8  =  64
  8  *  9  =  72
9  table
  9  *  1  =  9
  9  *  2  =  18
  9  *  3  =  27
  9  *  4  =  36
  9  *  5  =  45
  9  *  6  =  54
  9  *  7  =  63
  9  *  8  =  72
  9  *  9  =  81
10  table
  10  *  1  =  10
  10  *  2  =  20
  10  *  3  =  30
  10  *  4  =  40
  10  *  5  =  50
  10  *  6  =  60
  10  *  7  =  70
  10  *  8  =  80
  10  *  9  =  90
11  table
  11  *  1  =  11
  11  *  2  =  22
  11  *  3  =  33
  11  *  4  =  44
  11  *  5  =  55
  11  *  6  =  66
  11  *  7  =  77
  11  *  8  =  88
  11  *  9  =  99
12  table
  12  *  1  =  12
  12  *  2  =  24
  12  *  3  =  36
  12  *  4  =  48
  12  *  5  =  60
  12  *  6  =  72
  12  *  7  =  84
  12  *  8  =  96
  12  *  9  =  108
13  table
  13  *  1  =  13
  13  *  2  =  26
  13  *  3  =  39
  13  *  4  =  52
  13  *  5  =  65
  13  *  6  =  78
  13  *  7  =  91
  13  *  8  =  104
  13  *  9  =  117
14  table
  14  *  1  =  14
  14  *  2  =  28
  14  *  3  =  42
  14  *  4  =  56
  14  *  5  =  70
  14  *  6  =  84
  14  *  7  =  98
  14  *  8  =  112
  14  *  9  =  126
15  table
  15  *  1  =  15
  15  *  2  =  30
  15  *  3  =  45
  15  *  4  =  60
  15  *  5  =  75
  15  *  6  =  90
  15  *  7  =  105
  15  *  8  =  120
  15  *  9  =  135
16  table
  16  *  1  =  16
  16  *  2  =  32
  16  *  3  =  48
  16  *  4  =  64
  16  *  5  =  80
  16  *  6  =  96
  16  *  7  =  112
  16  *  8  =  128
  16  *  9  =  144

In [3]:
fruit = ["apple", "banana", "lemon", "tomato"]

for fr in fruit:
    count = 0
    for f in fr:
        if f in ['a', 'e', 'i', 'o', 'u']:
            count += 1
    #for i in range(count):
    #    print(fr)
    print(fr*count)

appleapple
bananabananabanana
lemonlemon
tomatotomatotomato

### Bubble Sort

In [10]:
num = [5,4,1,3,9,2,15,7,6,8,10]

for i in range(0, len(num)):
    print("Step", i, "-----------")
    for j in range(0, len(num) - i - 1):
        if num[j] > num[j+1]:
            temp = num[j]
            num[j] = num[j+1]
            num[j+1] = temp
            print(num)
print("Sort Done")
print(num)

Step 0 -----------
[4, 5, 1, 3, 9, 2, 15, 7, 6, 8, 10]
[4, 1, 5, 3, 9, 2, 15, 7, 6, 8, 10]
[4, 1, 3, 5, 9, 2, 15, 7, 6, 8, 10]
[4, 1, 3, 5, 2, 9, 15, 7, 6, 8, 10]
[4, 1, 3, 5, 2, 9, 7, 15, 6, 8, 10]
[4, 1, 3, 5, 2, 9, 7, 6, 15, 8, 10]
[4, 1, 3, 5, 2, 9, 7, 6, 8, 15, 10]
[4, 1, 3, 5, 2, 9, 7, 6, 8, 10, 15]
Step 1 -----------
[1, 4, 3, 5, 2, 9, 7, 6, 8, 10, 15]
[1, 3, 4, 5, 2, 9, 7, 6, 8, 10, 15]
[1, 3, 4, 2, 5, 9, 7, 6, 8, 10, 15]
[1, 3, 4, 2, 5, 7, 9, 6, 8, 10, 15]
[1, 3, 4, 2, 5, 7, 6, 9, 8, 10, 15]
[1, 3, 4, 2, 5, 7, 6, 8, 9, 10, 15]
Step 2 -----------
[1, 3, 2, 4, 5, 7, 6, 8, 9, 10, 15]
[1, 3, 2, 4, 5, 6, 7, 8, 9, 10, 15]
Step 3 -----------
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15]
Step 4 -----------
Step 5 -----------
Step 6 -----------
Step 7 -----------
Step 8 -----------
Step 9 -----------
Step 10 -----------
Sort Done
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 15]

In [19]:
num = int(input("input num : "))

for i in range(2, num):
    if num%i == 0:
        break

if i == num-1:
    print(num, "is prime number")
else:
    print(num, "is not prime number")

11 is prime number